{% extends 'ex/spiele/base.html' %}
<!-- hier kommt head -->
{% block title %}
<title>{{ serverData.user }}</title>
{% endblock %}
<!-- hier kommt body -->
{% block content %}
<script>
	Users = serverData.users;
	User = firstCond(Users, (x) => x.name == serverData.user);
	Table = serverData.tabledata;
	Table.players = Table.players.split(',');
	console.log('Users',Users,'User',User,'Table',Table);
</script>

<div id="dHeader" class="myheader">game header</div>
<div id="dMain" class="mymain">
	<div id="dLeft" class="mysidebar" style="transition-duration: 0.5s">
		<div class="mycolumn" style="padding: 12px">
			<a>action 1</a>
			<a>action 2</a>
			<a>action 3</a>
			<a>action 4</a>
			<a>action 5</a>
		</div>
	</div>
	<div id="dCenter" class="mycenter">
		<div id="dTable" style="background: green; min-height: 500px"></div>
		<form action="" method="POST">
			<textarea class="textarea" name="text" id="" cols="60" rows="4" placeholder="enter message"></textarea>
			<input class="textarea" type="submit" value="send" />
		</form>
	</div>
	<div id="dRight" class="mysidebar" style="display: none"></div>

	<script>present_table()</script>
</div>
{% endblock %}
