<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{{Basepath}}assets/fonts/fonts.css" />
		<link rel="stylesheet" href="{{ url_for('static', filename='basemin.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js" crossorigin="anonymous"></script>
		<script src="{{Basepath}}alibs/jsyaml.js"></script>
		<script src="{{ url_for('static', filename='basemin.js') }}"></script>
		<script src="{{Basepath}}js/cards.js"></script>
		{# <script src="{{ url_for('static', filename='cards.js') }}"></script> #}
		<script src="{{ url_for('static', filename='baustelle.js') }}"></script>
		<script src="{{ url_for('static', filename='serverflask.js') }}"></script>
		<script src="{{ url_for('static', filename='startsinglepage.js') }}"></script>
		<link rel="icon" href="{{Basepath}}assets/images/icons/firetrans.png" />
		<script>
			Basepath = "{{Basepath}}";
			let s = Serverdata = {{Serverdata|tojson}};
			[ActionResult,Users,Tables,Actions]=[s.action_result,s.users,s.games,s.actions];
			User = firstCond(Users,x=>x.name == s.user);
			Table = firstCond(Tables,x=>x.name == s.game);
			Action = s.action;
			console.log('Serverdata', Serverdata);
		</script>
		<title>simple</title>
	</head>
	<body>
		<div class="topmenu" style="background: silver; padding-left: 10px">
			<a href="/singlepage">home</a>
			<a href="/singlepage/mimi">mimi</a>
			<a href="/singlepage/mimi/paris">paris</a>
			<a href="/reset" style="color: red">dbinit!</a>
		</div>
		{% if Serverdata.message %}
		<div id="dMessage">{{ Serverdata.message}}</div>
		{% endif %}

		<div id="dMain">
			<div id="dTitle" style="opacity: 0; box-sizing: border-box; position: relative; height: 44px; text-align: center">
				<h1 id="dTitleCenter">HALLO, it's ok!</h1>
				<h1 id="dTitleLeft" style="display: inline-block; top: 0; left: 8px; position: absolute"></h1>
				<h1 id="dTitleRight" style="display: inline; position: absolute; top: 0; right: 8px"></h1>
			</div>
			<div id="dTable" style="opacity: 0; min-height: 440px"></div>
		</div>
		{% block content %} {% endblock %}

		<div id="dRoute">
			<h2>route:</h2>
			<form id="fRoute" action="/singlepost" method="POST">
				<input id="inpost" type="text" name="text" value="1" placeholder="enter action" />
				<input type="submit" />
			</form>
		</div>

		<div id="dChat">
			<h2>socket</h2>
			<ul id="messages"></ul>
			<form action="javascript:void(0);" onsubmit="socketsend()">
				<input type="text" id="myMessage" />
				<input type="submit" id="sendbutton" />
			</form>
		</div>
	</body>
</html>
