<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="stylesheet" href="{{basepath}}assets/fonts/fonts.css" />
		<link rel="stylesheet" href="{{basepath}}code/basemin.css" />

		<link rel="icon" type="image/jpg" href="{{basepath}}assets/images/mike.jpg" />
		{% block title %} {% endblock %}
	</head>
	<body>
		<div class="topmenu" style="background: silver; padding-left: 10px">
			<a href="/web0_ui0">template</a>
			<a href="/web0_ui1">javascript</a>
			<a href="/web0_ui2">serverdata</a>
		</div>

		<script src="{{basepath}}code/basemin.js"></script>

		{% block content %} {% endblock %}
	</body>
</html>
