<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="stylesheet" href="{{basepath}}assets/fonts/fonts.css" />
		<link rel="stylesheet" href="{{basepath}}code/basemin.css" />
		{# <link href="{{basepath}}alibs/bs4/bootstrap.min.css" rel="stylesheet" /> #}

		<link rel="icon" type="image/jpg" href="{{basepath}}assets/images/mike.jpg" />
		{% block title %} {% endblock %}
	</head>
	<body>
		<div class="topmenu" style='background:silver;padding-left:10px'>
			<a href="/ui0">template</a>
			<a href="/ui1">jslib</a>
			<a href="/ui2">dash</a>
			<a href="/ui3">my</a>
			<a href="/web0">todo</a>
			<a href="/web1">user</a>
		</div>

		{% block htmlcontent %} {% endblock %}
		<script src="{{basepath}}code/basemin.js"></script>
		<script src="../templates/ex/web0/start.js"></script>
		{# <script src="../base/alibs/jq3.js"></script>
		<script src="../base/alibs/bs4/bootstrap.bundle.min.js"></script> #}
		{% block jscontent %} {% endblock %}
	</body>
</html>
