<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="stylesheet" href="{{basepath}}assets/fonts/fonts.css" />
		{# <link rel="stylesheet" href="{{basepath}}code/basemin.css" /> #}
		<link rel="stylesheet" href="../../templates/spiele/basemin.css" />

		<link rel="icon" type="image/jpg" href="{{basepath}}assets/images/mike.png" />
		{% block title %} {% endblock %}
	</head>
	<body>
		<div class="topmenu" style="background: silver; padding-left: 10px">
			<a href="/spiele">home</a>
			<a href="/spiele/users">users</a>
			<a href="/spiele/games">games</a>
			<a href="/spiele/tables">tables</a>
		</div>

		<script src="../../templates/spiele/basemin.js"></script>
		{# <script src="{{basepath}}code/basemin.js"></script> #}

		{% block content %} {% endblock %}
	</body>
</html>
