{% extends 'spiele/base.html' %}
<!-- hier kommt head -->
{% block title %}
<title>tables</title>
{% endblock %}
<!-- hier kommt body -->
{% block content %} 
<script>
	User=firstCond(Users,x=>x.name == serverData.user);
	Tables=serverData.tables;
</script>

{% if tables|length < 1 %}
<h4>There are no tables. Create one below!</h4>
{% else %}

<div class="container">
	<table class="table">
		<tr>
			<th>name</th>
			<th>game</th>
			<th>players</th>
			<th>created</th>
			<th>actions</th>
		</tr>
		{% for table in tables %}
		<tr id="tr_{{table.id}}">
			<td>{{ table.name }}</td>
			<td>{{ table.game }}</td>
			<td>{{ ', '.join(table.players) }}</td>
			<td>{{ table.date_created.date() }}</td>
			<td>
				<a href="/play/{{table.name}}/{{serverData['user']}}">open</a>
				<a href="/delete_table/{{table.id}}">delete</a>
				<a href="/update_table/{{table.id}}">update</a>
			</td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endif %}

<script></script>
{% endblock %}
