<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="stylesheet" href="{{basepath}}assets/fonts/fonts.css" />
		<script src="../templates/ex/ui2/code/basemin.css"></script>

		<link rel="icon" type="image/jpg" href="{{basepath}}assets/images/mimi.jpg" />
		<title>HOME</title>
	</head>
	<body>
		<script src="../templates/ex/ui2/code/basemin.js"></script>
		<script src="../templates/ex/ui2/code/start.js"></script>

		<script>
		</script>
	</body>
</html>
