<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{{ url_for('static', filename='basemin.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
		<script src="{{ url_for('static', filename='basemin.js') }}"></script>
		<script src="{{ url_for('static', filename='start.js') }}"></script>
		<link rel="icon" href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/310/shortcake_1f370.png" />
		<title>simple game</title>
		<script>
			var serverData = {{serverData|tojson}};
			console.log('serverData', serverData);
		</script>
	</head>
	<body>
		<div id="dTable"></div><br><br>

		<form action="" method="POST">
			<input type="text" name="text" placeholder="enter action"/>
			<input type="submit" />
		</form>

		<script>onload = start_loggedin</script>
	</body>
</html>
