<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{{Basepath}}assets/fonts/fonts.css" />
		<link rel="stylesheet" href="{{ url_for('static', filename='basemin.css') }}" />
		<script src="{{Basepath}}alibs/jsyaml.js"></script>
		<script src="{{ url_for('static', filename='basemin.js') }}"></script>
		<script src="{{Basepath}}js/cards.js"></script>
		<script src="{{Basepath}}js/bluff.js"></script>
		<script src="{{Basepath}}js/ui_helpers.js"></script>
		<script src="{{ url_for('static', filename='baustelle.js') }}"></script>
		<script src="{{ url_for('static', filename='game.js') }}"></script>
		<script src="{{ url_for('static', filename='gamelib.js') }}"></script>
		<script src="{{ url_for('static', filename='games/aristocracy.js') }}"></script>
		<script src="{{ url_for('static', filename='games/bluff.js') }}"></script>
		<script src="{{ url_for('static', filename='games/dixit.js') }}"></script>
		<script src="{{ url_for('static', filename='games/innovation.js') }}"></script>
		<script src="{{ url_for('static', filename='games/mysterium.js') }}"></script>
		<script src="{{ url_for('static', filename='games/wise.js') }}"></script>
		<script src="{{ url_for('static', filename='onclick.js') }}"></script>
		<script src="{{ url_for('static', filename='serverflask.js') }}"></script>
		<script src="{{ url_for('static', filename='tests.js') }}"></script>
		<link rel="icon" href="{{Basepath}}assets/images/icons/firetrans.png" />
		<script>
			Basepath = "{{Basepath}}";
			Serverdata = {{Serverdata|tojson}};
			console.log('Serverdata', jsCopy(Serverdata));
		</script>
		<title>simple</title>
	</head>
<body>
	<div id='dMain' style="background:skyblue;min-height:400px;width:100%;"></div>


	<div id="dRoute" style="text-align:center">
		<h2>post data:</h2>
		<form id="fRoute" action="javascript:void(0);" >
			{# <style>label{margin-left:10px;}input{font-family:opensans;font-size:14px;}</style> #}
			<label>user:</label>
			<input type='text' id="inuser" name="user" value="felix" >
			<label>game:</label>
			<input type='text' id="ingame" name="game" value="dixit" >
			<label>players:</label>
			<input type='text' id="inplayers" name="players">
			<label>table:</label>
			<input type='text' id="intable" name="table">
			<label>turn:</label>
			<input type='text' id="inturn" name="turn" value="" >
			<label>type:</label>
			<input type='text' id="intype" name="type" value="startgame" >
			<div id="inpre" style="margin-top:10px;font-size:9px">hallo</div>
			<textarea rows=16 cols=150 id="inpost" name="text" style="display:none;margin-top:10px;font-size:11px">hallo</textarea>
		</form>
	</div>

	<div id="dButtons" style="text-align:center">
		<button onclick='test1()' class='button'>text</button>
		<button onclick='test2()' class='button'>json</button>
		<button onclick='test4()' class='button'>dixit</button>
		<button onclick='test3()' class='button'>post</button>
		<button onclick='test5()' class='button'>post json</button>
		<br><br>
		<button onclick='onclick_poll()' class='button'>poll</button>
		<button onclick='onclick_startpolling()' class='button'>start polling</button>
		<button onclick='onclick_stoppolling()' class='button'>stop polling</button>
	</div>

</body>
</html>