<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{{Basepath}}assets/fonts/fonts.css" crossorigin="anonymous"/>
		<link rel="stylesheet" href="{{ url_for('static', filename='basemin.css') }}" />
		<script src="{{Basepath}}alibs/jsyaml.js"></script>
		<script src="{{ url_for('static', filename='basemin.js') }}"></script>
		<script src="{{Basepath}}js/board.js"></script>
		<script src="{{Basepath}}js/cards.js"></script>
		<script src="{{Basepath}}js/ui_helpers.js"></script>
		<script src="{{ url_for('static', filename='baustelle.js') }}"></script>
		<script src="{{ url_for('static', filename='game.js') }}"></script>
		<script src="{{ url_for('static', filename='gamelib.js') }}"></script>
		<script src="{{ url_for('static', filename='games/aristocracy.js') }}"></script>
		<script src="{{ url_for('static', filename='games/bluff.js') }}"></script>
		<script src="{{ url_for('static', filename='games/dixit.js') }}"></script>
		<script src="{{ url_for('static', filename='games/stadtland.js') }}"></script>
		<script src="{{ url_for('static', filename='games/mysterium.js') }}"></script>
		<script src="{{ url_for('static', filename='games/spotit.js') }}"></script>
		<script src="{{ url_for('static', filename='games/wise.js') }}"></script>
		<script src="{{ url_for('static', filename='onclick.js') }}"></script>
		<script src="{{ url_for('static', filename='polling.js') }}"></script>
		<script src="{{ url_for('static', filename='serverflask.js') }}"></script>
		<script src="{{ url_for('static', filename='showtable.js') }}"></script>
		<script src="{{ url_for('static', filename='tests.js') }}"></script>

		<script src="{{ url_for('static', filename='helpers.js') }}"></script>
		<script src="{{ url_for('static', filename='start.js') }}"></script>
		<link rel="icon" href="{{Basepath}}assets/images/icons/firetrans.png" />
		<script>
			Basepath = "{{Basepath}}";
			Serverdata = {{Serverdata|tojson}};
			processServerdata();
			//console.log('Serverdata', jsCopy(Serverdata));
		</script>
		<title>simple</title>
	</head>
	<body>
		{# <img src="http://localhost:8080/aroot/base/assets/images/wolfgang.jpg" /> #}
		<div class="topmenu" style="background: silver; padding-left: 10px">
			<a href="/">home</a>
			<a href="javascript:onclick_startgame()">startgame</a>
			<a href="/reset" style="color: red">dbinit!</a>
		</div>
		<div id="dMenu" style="padding: 10px; width: 100%; background: skyblue; display: none">
			<form id="fMenuInput" style="text-align: center" action="javascript:void(0);">
				<div id="dMenuInput">hallo</div>
				<div style="width: 100%">
					<input type="submit" class="button" />
					<input type="button" onclick="onclick_cancelmenu()" class="button" value="cancel" />
				</div>
			</form>
		</div>
		<div id="dTitle" style="opacity: 0; box-sizing: border-box; position: relative; height: 44px; text-align: center">
			<h1 id="dTitleCenter">HALLO, it's ok!</h1>
			<h1 id="dTitleLeft" style="display: inline-block; top: 0; left: 8px; position: absolute"></h1>
			<h1 id="dTitleRight" style="display: inline; position: absolute; top: 0; right: 8px"></h1>
		</div>
		<div id="dAllTables"></div>
		<div id="dMessage"></div>
		<div id="dInstruction"></div>
		<div id="dTable" style="opacity: 0; min-height: 440px"></div>
		<div id="dStatus"></div>
		<div id="dButtons" style="text-align: center">
			<button onclick="spotit_start()" class="button">*spotit</button>
			<button onclick="spotit_success()" class="button">spotit: success</button>
			<button onclick="spotit_fail()" class="button">spotit: fail</button>
			<br />
			<br />
			<button onclick="test1()" class="button">text</button>
			<button onclick="test2()" class="button">json</button>
			<button onclick="test4()" class="button">dixit</button>
			<button onclick="test3()" class="button">post</button>
			<button onclick="test6()" class="button">TEST 6</button>
			<br />
			<br />
			<button onclick="onclick_poll()" class="button">poll</button>
			<button onclick="onclick_reload()" class="button">RELOAD</button>
			<button onclick="onclick_startpolling()" class="button">start polling</button>
			<button onclick="onclick_stoppolling()" class="button">stop polling</button>
		</div>
	</body>
</html>
