<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{{Basepath}}assets/fonts/fonts.css" />
		<link rel="stylesheet" href="{{ url_for('static', filename='basemin.css') }}" />
		<script src="{{Basepath}}alibs/jsyaml.js"></script>
		<script src="{{ url_for('static', filename='basemin.js') }}"></script>
		<script src="{{Basepath}}js/cards.js"></script>
		<script src="{{Basepath}}js/bluff.js"></script>
		<script src="{{Basepath}}js/ui_helpers.js"></script>
		<script src="{{ url_for('static', filename='baustelle.js') }}"></script>
		<script src="{{ url_for('static', filename='game.js') }}"></script>
		<script src="{{ url_for('static', filename='gamelib.js') }}"></script>
		<script src="{{ url_for('static', filename='games/aristocracy.js') }}"></script>
		<script src="{{ url_for('static', filename='games/bluff.js') }}"></script>
		<script src="{{ url_for('static', filename='games/dixit.js') }}"></script>
		<script src="{{ url_for('static', filename='games/innovation.js') }}"></script>
		<script src="{{ url_for('static', filename='games/mysterium.js') }}"></script>
		<script src="{{ url_for('static', filename='games/wise.js') }}"></script>
		<script src="{{ url_for('static', filename='onclick.js') }}"></script>
		<script src="{{ url_for('static', filename='serverflask.js') }}"></script>
		<script src="{{ url_for('static', filename='tests.js') }}"></script>
		<link rel="icon" href="{{Basepath}}assets/images/icons/firetrans.png" />
		<script>
			Basepath = "{{Basepath}}";
			Serverdata = {{Serverdata|tojson}};
			console.log('Serverdata', jsCopy(Serverdata));
		</script>
		<title>simple</title>
	</head>
<body>
	<div class="topmenu" style="background: silver; padding-left: 10px">
		<a href="/">home</a>
		<a href="javascript:onclick_startgame()">startgame</a>
		<a href="/reset" style="color: red">dbinit!</a>
	</div>

	<div id="dMain">
		<div id="dTitle" style="opacity: 0; box-sizing: border-box; position: relative; height: 44px; text-align: center">
			<h1 id="dTitleCenter">HALLO, it's ok!</h1>
			<h1 id="dTitleLeft" style="display: inline-block; top: 0; left: 8px; position: absolute"></h1>
			<h1 id="dTitleRight" style="display: inline; position: absolute; top: 0; right: 8px"></h1>
		</div>
		<div id="dTable" style="opacity: 0; min-height: 440px">
			<div id='dMenu' style='width:100%;display:none'>
				<form id="fMenuInput" style="text-align:center" action="javascript:void(0);">
					<div id="dMenuInput">hallo</div>
					<div style="width:100%">
					<input type="submit" class='button' />
					</div>

				</form>
			</div>
		</div>
	</div>

	<div id="dButtons" style="text-align:center">
		<button onclick='test1()' class='button'>text</button>
		<button onclick='test2()' class='button'>json</button>
		<button onclick='test4()' class='button'>dixit</button>
		<button onclick='test3()' class='button'>post</button>
		<button onclick='test6()' class='button'>TEST 6</button>
		<br><br>
		<button onclick='onclick_poll()' class='button'>poll</button>
		<button onclick='onclick_startpolling()' class='button'>start polling</button>
		<button onclick='onclick_stoppolling()' class='button'>stop polling</button>
	</div>

</body>
</html>