<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" href="{{Basepath}}assets/images/icons/firetrans.png" />
		<title>flask test</title>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js" crossorigin="anonymous"></script>
		<script src="../static/basemin.js"></script>
	</head>
	<body>
		<script>
			onload = start;
			function start() {
				Socket = isdef(window.io)? io.connect(SOCKETSERVER):null;
				if (!Socket) {
					console.log('no sockets!!!!!!!!!!!');
					mBy('dChat').style.display = 'none';
					return;
				}
				Socket.on('connect', () => {
					console.log('...........connected!');
					Socket.emit('message', 'user has connected');
				});
				Socket.on('message', (x) => {
					console.log('message from server 1:', x);
					let elem = mBy('messages');
					mAppend(elem, mCreateFrom(`<pre>${x.hallo}</pre>`));
				});
			}
			function socketsend() {
				if (!Socket) {
					console.log('no sockets!!!!!!!!!!!')
					return;
				}
				let elem = mBy('myMessage');
				let text = elem.value;
				//elem.value = '';
				//Socket.send(text); //ok
				Socket.emit('message',{text:text, user:'felix'}); //ok
				return false;
			}
		</script>
		<ul id="messages"></ul>
		<form action="javascript:void(0);" onsubmit="socketsend()">
			<input type="text" id="myMessage" value="test" />
			<input type="submit" id="sendbutton" />
		</form>
	</body>
</html>
