<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/jpg" href="{{Basepath}}assets/images/felix.jpg" />
		<title>FELIX</title>
	</head>
	<body>
		hallo

		<img src="http://localhost:8080/aroot/_other/learning/v92_cors/logo.jpg" alt="" />
		<img src="https://www.telecave.net/aroot/corstest/logo.jpg" alt="" width="50" />
		<img src="https://www.telecave.net/aroot/base/assets/images/felix.jpg" alt="" />
		<img src="{{Basepath}}assets/images/felix.jpg" alt="" />

		<script src="{{Basepath}}js/base.js"></script>

		<script>
			let d = mDiv(document.body,{w:100,h:100,bg:'blue'},'d','<h1>TITLE</h1>');
			console.log('d',d)
		</script>
	</body>
</html>
